:root {
    --light-color: #BEE5B0;
    --dark-color: #411A4F;
}

.navbar-brand {
    font-size: 10rem;
}

#navbar {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.card-header {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.container {
    grid-template-columns: 1rem;
    grid-gap: 2rem;
}
