
<article>
  <div class="container">
    <div class="row justify-content-center">
    
      <div class="col-4 mt-4">
          <div class="card-body mx-auto" style="width: 18rem">
            <h5 class="card-header">{{name}}</h5>
            <h6 class="card-text mb-2 mt-2 text-muted">{{role}}</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: <a href="mailto:{{email}}"> {{email}} </a></li>
                <li class="list-group-item">ID: {{id}}</li>
                <li class="list-group-item">{{attr_key}}: <a href="{{attr_value}}">{{attr_value}}</a></li>
              </ul>          
          </div>
      </div>
    </div>
  </div>
</article>

